<!--
HTML markup for the Secondhand Book About Us page.
Author: Anthony Gutierrez, Mehdi Jokar, Thanh Doan
File: about-us.html
Date: 5/13/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
  <div class="container w-75">
    <h1>About Us</h1>
    <p class="text-justify">Welcome to our web application designed to help students sell their used textbooks easily! Our platform provides a simple and efficient way for students to list their books for sale and for other users to browse and purchase them.</p>
    <p class="text-justify">Our goal is to make selling, and buying used textbooks as simple and streamlined as possible. We believe that by providing a convenient platform for students to connect with one another, we can help reduce the cost of education and make it more accessible to everyone.</p>
    <p class="text-justify">Thank you for choosing our platform for your used textbook needs, and we look forward to helping you save money and succeed in your academic pursuits!</p>
  </div>
</main>

<include href="views/includes/footer.html"></include>

