<!--
HTML markup for the Secondhand Book Profile page.
Author: Anthony Gutierrez, Mehdi Jokar
File: profile.html
Date: 5/26/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
  <div class="container w-75">

    <br><br>
    <h4>Newly added textbooks</h4>

    <check if="{{ null !== @SESSION.person->getBooksToApprove() }}">
    <form action="#" method="post">
    <table class="table border border-secondary">
      <thead>
      <tr>
        <th>Title</th>
        <th>Approve</th>
      </tr>
      </thead>
      <tbody>

      <repeat group="{{ @SESSION.person->getBooksToApprove() }}" value="{{ @book }}">
      <tr>
        <td><a href="book?id={{ @book->getBookId() }}" class="text-decoration-none text-color-dark">{{ @book->getTitle() }}</a></td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ @book->getBookId() }}" name="approved[]">
          </div>
        </td>
      </tr>
      </repeat>

      </tbody>
    </table>
      <!-- Display an error if there is one -->
      <check if="{{ isset(@errors['approved']) }}">
        <span class="err">{{ @errors['approved'] }}</span>
      </check>
      <br>
      <br>
      <button type="submit" class="btn btn-primary dark-blue-bg float-end">Save</button>
      </form>
    </check>
  </div>
  <br>
  <br>
  <br>
</main>

<include href="views/includes/footer.html"></include>