<!--
HTML markup for the Secondhand Book's Book page.
Author: Anthony Gutierrez, Mehdi Jokar
File: book.html
Date: 5/25/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <div class="row my-4">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <P><b>Title:</b> {{ @SESSION.book->getTitle() }}</P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Authors:</b> {{ @SESSION.book->getAuthors() }}</P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Edition:</b> {{ @SESSION.book->getEdition() }}</P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Subject:</b> {{ @SESSION.book->getSubject() }}</P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Price:</b> ${{ @SESSION.book->getPrice() }}</P>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <img src="{{ @SESSION.book->getPhotoPath() }}" class="float-end img-fluid" alt="{{ @SESSION.book->getPhotoName() }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Description-->
                <P><b>Description:</b></P>
                <p>{{ @SESSION.book->getDescription() }}</p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col text-center">
                <!--Contact Owner-->
                <a href="contact-owner?id={{ @SESSION.book->getBookId() }}" class="btn btn-primary dark-blue-bg">Contact Owner</a>
            </div>
        </div>
    </div>
    <br>
    <br><br>
</main>

<include href="views/includes/footer.html"></include>

