<!--
HTML markup for the Secondhand Book's Book page.
Author: Anthony Gutierrez, Mehdi Jokar
File: book.html
Date: 5/25/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <div class="row my-4">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <P><b>Title:</b></P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Authors:</b></P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Edition:</b></P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Department:</b></P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Course:</b></P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <P><b>Price:</b></P>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <img src="images/default_book.jpg" class="float-end img-fluid" alt="default_book.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Description-->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac tellus mi. Nulla id mi et erat pulvinar facilisis. Nullam finibus id sem sed scelerisque. Vestibulum enim lacus, bibendum non bibendum nec, dictum sed ex. Aenean interdum nibh eu odio suscipit maximus. In justo odio, porta et scelerisque ac, dictum nec eros. Quisque porttitor eget tellus ut efficitur. Donec efficitur ipsum tortor, vitae sollicitudin purus rhoncus quis. Nam sed metus at dolor blandit imperdiet sed sed risus. Morbi at ultricies lorem. Phasellus quis nunc et lectus placerat pharetra non eu ex. Aliquam erat volutpat. Vivamus orci nisl, semper in euismod eu, varius ultricies purus. Aliquam feugiat lorem et diam lobortis tempor. Cras accumsan consequat sodales. Phasellus commodo euismod ex, euismod eleifend arcu commodo et.</p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col text-center">
                <!--Contact Owner-->
                <a href="contact-owner" class="btn btn-primary dark-blue-bg">Contact Owner</a>
            </div>
        </div>
    </div>
    <br>
    <br><br>
</main>

<include href="views/includes/footer.html"></include>

