<!--
HTML markup for the Secondhand Book FAQ page.
Author: Anthony Gutierrez, Mehdi Jokar
File: faq.html
Date: 5/25/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <h1>Frequently Asked Questions</h1>
        <br>
        <br>
        <dl class="row">
            <dt class="col-md-3">How can I list my textbooks for sale?</dt>
            <dd class="col-md-9 text-justify mb-3">After logging into your account, navigate to the "Listings" section. Click on the "Create Listing" button and provide the necessary details about your textbook, such as the title, author's name, desired price, and subject/course. Submit the listing, and it will be reviewed by the admin for approval.</dd>

            <dt class="col-md-3">How can I search for specific textbooks?</dt>
            <dd class="col-md-9 text-justify mb-3">Use the search bar located at the top of the platform's pages to enter keywords related to the textbook you are looking for. You can search by title, author's name, or subject/course. The platform will display the relevant search results based on your query.</dd>

            <dt class="col-md-3">How can I contact a seller to purchase a textbook?</dt>
            <dd class="col-md-9 text-justify mb-3"> Once you find a textbook listing that interests you, click on the listing to view its details. You will find the contact information of the seller on the listing page. You can reach out to the seller directly through the platform's messaging system to discuss the transaction and arrange the purchase.</dd>

            <dt class="col-md-3">Does the platform handle transactions or payment processing?</dt>
            <dd class="col-md-9 text-justify mb-3"> No, the platform does not handle transactions or payment processing. It serves as a marketplace for connecting buyers and sellers. Once you and the seller agree on the terms of the transaction, you will handle the payment and exchange of the textbook independently.</dd>

            <dt class="col-md-3">How long does it take for a listing to be approved by the admin?</dt>
            <dd class="col-md-9 text-justify mb-3"> The admin team reviews listings as quickly as possible. The approval process aims to ensure the quality and accuracy of the listings. Please allow a reasonable amount of time for the admin to review and approve your listing.</dd>

            <dt class="col-md-3">What if I encounter any issues or need further assistance?</dt>
            <dd class="col-md-9 text-justify mb-3"> If you have any issues or require additional assistance, please reach out to our support team by visiting the "Contact Us" page. We will be happy to help you and address any concerns you may have.</dd>


        </dl>
    </div>
    <br>
    <br>
    <br>
</main>

<include href="views/includes/footer.html"></include>

