<!--
HTML markup for the Secondhand Book forgot-password page.
Author: Anthony Gutierrez, Mehdi Jokar
File: forgot-password.html
Date: 6/14/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <h5>Enter your email address</h5>
        <br>
        <form action="#" method="post">
            <div class="mb-3">
                <label for="email" class="form-label"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com" required>

                <!-- Display an error if there is one -->
                <check if="{{ isset(@errors['email']) }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>
            </div>

            <button type="submit" class="btn btn-primary dark-blue-bg">Submit</button>

        </form>
    </div>
    <br>
    <br>
    <br>
</main>

<include href="views/includes/footer.html"></include>