<!--
HTML markup for the Secondhand Book Home page.
Author: Anthony Gutierrez, Mehdi Jokar
File: home.html
Date: 5/8/2023
-->
<include href="views/includes/header.html"></include>

<include href="views/includes/alert.html"></include>
<!-- Add a book taken from the array in the model-->
<main class="container-fluid mb-5">
<div class="d-flex flex-row flex-wrap justify-content-center mt-2">
<repeat group="{{ @books }}" value="{{ @book }}">
    <div class="card m-3">
        <img src="images/default_book.jpg" class="card-img-top" alt="default_book.jpg">
        <div class="card-body m-auto">
            <h5 class="card-title">{{ ucfirst(@book) }}</h5>
            <p class="card-text">Author
                <br>
                Edition
            </p>
            <a href="#" class="btn btn-primary dark-blue-bg">More Details</a>
        </div>
    </div>
</repeat>
</div>
</main>

<include href="views/includes/footer.html"></include>

