<!--
HTML markup for the Secondhand Book Home page.
Author: Anthony Gutierrez, Mehdi Jokar
File: home.html
Date: 5/8/2023
-->
<include href="views/includes/header.html"></include>

<include href="views/includes/alert.html"></include>
<!-- Add a book taken from the array in the model-->
<main class="container-fluid mb-5">
<div class="d-flex flex-row flex-wrap justify-content-center mt-2">
<check if="{{ isset(@SESSION.books) }}">
    <repeat group="{{ @SESSION.books }}" value="{{ @book }}">
        <div class="card m-3">
            <img src="{{ @book->getPhotoPath() }}" class="card-img-top" alt="{{ @book->getPhotoName() }}">
            <div class="card-body m-auto">
                <h5 class="card-title">{{ @book->getTitle() }}</h5>
                <p class="card-text">Author: {{ @book->getAuthors() }}
                    <br>
                    Price: ${{ @book->getPrice() }}
                </p>
                <a href="book?id={{ @book->getBookId() }}" class="btn btn-primary dark-blue-bg">More Details</a>
            </div>
        </div>
    </repeat>
</check>
</div>
</main>

<include href="views/includes/footer.html"></include>

