<!--
HTML markup for the Secondhand Book Lists page.
Author: Anthony Gutierrez, Mehdi Jokar
File: lists.html
Date: 5/26/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
  <div class="container w-75">

    <br>
    <br>

<form action="#" method="post">
      <div class="row">
        <div class="col-3"><label for="sort" class="form-label"><b class="text-color-dark">Sort By:</b></label></div>
        <div class="col-6">

          <select class="form-select" id="sort" name="sort">
            <option value="title">Title</option>
            <option value="authors">Authors</option>
            <option value="department">Department</option>
            <option value="subject">Subject</option>
            <option value="price">Price</option>
          </select>
        </div>
        <div class="col-3"><button type="submit" class="btn btn-primary dark-blue-bg">Go</button></div>
      </div>
</form>
    <div class="d-flex flex-row flex-wrap justify-content-center mt-2">
      <check if="{{ isset(@SESSION.books) }}">
        <repeat group="{{ @SESSION.books }}" value="{{ @book }}">
          <div class="card m-3">
            <img src="{{ @book->getPhotoPath() }}" class="card-img-top" alt="{{ @book->getPhotoName() }}">
            <div class="card-body m-auto">
              <h5 class="card-title">{{ @book->getTitle() }}</h5>
              <p class="card-text">Author: {{ @book->getAuthors() }}
                <br>
                Edition: {{ @book->getEdition() }}
              </p>
              <a href="book?id={{ @book->getBookId() }}" class="btn btn-primary dark-blue-bg">More Details</a>
            </div>
          </div>
        </repeat>
      </check>

  </div>
  </div>
  <br>
  <br>
  <br>
</main>

<include href="views/includes/footer.html"></include>