<!--
HTML markup for the Secondhand Book Login page.
Author: Anthony Gutierrez, Mehdi Jokar
File: login.html
Date: 5/25/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
  <div class="container w-75">
    <h1>Login</h1>
    <br>
    <br>
    <form action="#" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>

        <!-- Display an error if there is one -->
        <check if="{{ isset(@errors['email']) }}">
          <span class="err">{{ @errors['email'] }}</span>
        </check>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>

        <!-- Display an error if there is one -->
        <check if="{{ isset(@errors['password']) }}">
          <span class="err">{{ @errors['password'] }}</span>
        </check>
      </div>
      <button type="submit" class="btn btn-primary dark-blue-bg">Login</button>
      <a href="register" class="btn btn-primary dark-blue-bg">Sign Up</a>
      <br>
      <a href="#" class="text-decoration-none">Forgot password?</a>

    </form>
  </div>
  <br>
  <br>
  <br>
</main>

<include href="views/includes/footer.html"></include>