<!--
HTML markup for the Secondhand Book Login page.
Author: Anthony Gutierrez, Mehdi Jokar
File: login.html
Date: 5/25/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
  <div class="container w-75">
    <h1>Login</h1>
    <br>
    <br>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary dark-blue-bg">Login</button>
      <a href="#" class="btn btn-primary dark-blue-bg">Sign Up</a>
      <br>
      <a href="#" class="text-decoration-none">Forgot password?</a>

    </form>
  </div>
  <br>
  <br>
  <br>
</main>

<include href="views/includes/footer.html"></include>