<!--
HTML markup for the Secondhand Book Profile page.
Author: Anthony Gutierrez, Mehdi Jokar
File: profile.html
Date: 5/26/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <h1>Profile</h1>
        <br>
        <br>
        <form action="#" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">First Name*</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">Last Name*</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password*</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" rows="3" name="address" placeholder="Enter your address"></textarea>
            </div>
            <button type="submit" class="btn btn-primary dark-blue-bg float-end">Save</button>
        </form>
        <br>
        <br>
        <hr>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="add-book" class="btn btn-primary dark-blue-bg">Add New Textbook</a>
                </div>
        <hr>
        <br><br>
        <h4>List of My Books</h4>

        <table class="table border border-secondary">
            <thead>
            <tr>
                <th>Title</th>
                <th>Is Approved</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <repeat group="{{ @SESSION.person->getBooks() }}" value="{{ @book }}">
                    <tr>
                        <td><a href="book?id={{ @book->getBookId() }}" class="text-decoration-none text-color-dark">{{ @book->getTitle() }}</a></td>
                        <td>
                            <div class="form-check">
                                <check if="{{ @book->getIsApproved() == 0 }}">
                                    <true>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                        </svg>
                                    </true>
                                    <false>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        </svg>
                                    </false>
                                </check>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dark-red-bg">Delete</button>
                                <a href="edit-book?id={{ @book->getBookId() }}" type="button" class="btn btn-primary dark-blue-bg">Edit</a>
                            </div>
                        </td>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
</main>

<include href="views/includes/footer.html"></include>