<!--
HTML markup for the Secondhand Book password reset page.
Author: Anthony Gutierrez, Mehdi Jokar
File: reset-password.html
Date: 5/25/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <h4>Reset Password</h4>
        <br>
        <br>
        <check if="{{ isset(@expired) }}">
            <true>
                <div class="alert alert-danger w-75" role="alert">
                    {{ @expired }}
                </div>
                <br>
                <a href="forgot-password" class="btn btn-primary dark-blue-bg">Get another link</a>
            </true>
            <false>
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password*</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>

                        <!-- Display an error if there is one -->
                        <check if="{{ isset(@errors['password']) }}">
                            <span class="err">{{ @errors['password'] }}</span>
                        </check>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password*</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>

                        <!-- Display an error if there is one -->
                        <check if="{{ isset(@errors['confirm_password']) }}">
                            <span class="err">{{ @errors['confirm_password'] }}</span>
                        </check>
                    </div>
                    <input type="hidden" value="{{ @uuid }}" name="uuid">
                    <button type="submit" class="btn btn-primary dark-blue-bg">Update</button>

                </form>
            </false>
        </check>
    </div>
    <br>
    <br>
    <br>
</main>

<include href="views/includes/footer.html"></include>