<!--
HTML markup for the Secondhand Book About Us page.
Author: Anthony Gutierrez, Mehdi Jokar, Thanh Doan
File: about-us.html
Date: 5/13/2023
-->
<include href="views/includes/header.html"></include>


<main class="container-fluid mb-5">
    <div class="container w-75">
        <h1>Terms of Services</h1>
        <br>
        <br>
        <p class="text-justify">Welcome to our web application for buying and selling used textbooks! Before using our platform, please take a moment to read and understand the following Terms of Service. By accessing or using our website, you agree to comply with these terms and conditions. If you do not agree with any part of these terms, please refrain from using our services.</p>
        <dl class="row">
            <dt class="col-3">User Accounts:</dt>
            <dd class="col-9 text-justify">To access certain features of our platform, you may need to create a user account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
                You must provide accurate and complete information when creating your account. You agree to update your account information promptly if there are any changes.
                You must be at least 18 years old to create an account and use our services.</dd>

            <dt class="col-3">Textbook Listings:</dt>
            <dd class="col-9 text-justify">Users can create listings to sell their used textbooks. By creating a listing, you confirm that you are the rightful owner of the textbook and have the authority to sell it.
                 You are responsible for providing accurate and detailed information about the textbook, including its title, author's name, desired price, and subject/course.
                All listings are subject to review and approval by our admin team. We reserve the right to reject or remove any listing that violates our policies or terms.</dd>

            <dt class="col-3">Platform Usage:</dt>
            <dd class="col-9 text-justify"> Our platform serves as a marketplace for connecting buyers and sellers. We do not handle the transaction or payment processing between users.
                 Users are solely responsible for their interactions and transactions with other users. We do not guarantee the quality, availability, or accuracy of the textbooks listed on our platform.
                Users must conduct themselves in a respectful and lawful manner while using our platform. Any form of harassment, fraud, or misuse of the platform is strictly prohibited.</dd>

            <dt class="col-3">Privacy:</dt>
            <dd class="col-9 text-justify"> We value your privacy and handle your personal information in accordance with our Privacy Policy. By using our platform, you consent to the collection, use, and disclosure of your personal information as described in the Privacy Policy.</dd>
        </dl>
    </div>
    <br>
    <br>
    <br>
</main>

<include href="views/includes/footer.html"></include>

