/*
    Web page styles for all Secondhand Book pages.
    Author: Anthony Gutierrez, Mehdi Jokar
    File: styles.css
    Date: 5/8/2023
*/

html{
    height: 100%;
    box-sizing: border-box;
}

main{
    width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;

}

body {
    background: #caf0f8;
    margin: 0;
    position: relative;
    min-height: 100%;
    padding-bottom: 10rem;
    box-sizing: inherit;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a img {
    width: 30px;
}

.card {
    width: 20rem;
}

.card-img-top {
    margin: 1px auto;
    width: 10rem;
}

.dark-blue-bg{
    background-color: #03045e !important;
}

.dark-red-bg{
    background-color: maroon !important;
}

.text-color-dark{
    color: #03045e !important;
}

.text-justify{
    text-align: justify !important;
}

.form-check-input:checked {
    background-color: #03045e !important;
    border-color: #03045e !important;
}

.err{
    color: darkred;
}

/**
The styling for alert.
 */
.alert {
    padding: 20px;
    background-color: #92C744;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}